<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <title>Listing Meals</title>
</head>
<body>
<div class="container p-3 my-5">
    <h1 class="display-5 border-bottom">Přehled jídel</h1>
    <div class="row mt-3 mb-3 d-flex justify-content-between">
        <div class="col-md-3">
            <a class="btn btn-secondary w-100" th:href="@{/listFoods}" th:text="'Go Back'">Go Back</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-primary w-100" th:href="@{/meal/create}" th:text="'Create new meal'">Create new meal</a>
        </div>
    </div>

    <div class="alert alert-danger" th:if="${errorMessage}" th:text="${errorMessage}"></div>
    <div class="alert alert-success" th:if="${successMessage}" th:text="${successMessage}"></div>

    <div class="table-responsive-xxl">
        <table class="table table-hover">
            <thead class="table-secondary">
            <tr>
                <th class="col-center">Název</th>
                <th class="col-center">Quantity</th>
                <th class="col-center">Kilojoules</th>
                <th class="col-center">Proteins</th>
                <th class="col-center">Carbohydrates</th>
                <th class="col-center">Fiber</th>
                <th class="col-center">Fat</th>
                <th class="col-center"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="mealDTO : ${mealsDTO}">
                <td>
                    <a th:href="@{'/meal/' + ${mealDTO.getMealId()} + '/edit'}"
                       th:text="${mealDTO.getMealName()}">name</a>
                </td>
                <td class="col-right" th:text="${mealDTO.getSumQuantity()}">SumQuantity</td>
                <td class="col-right" th:text="${mealDTO.getSumAdjustedKiloJoules()}">SumAdjustedKilojoules</td>
                <td class="col-right" th:text="${mealDTO.getSumAdjustedProteins()}">SumAdjustedProteins</td>
                <td class="col-right" th:text="${mealDTO.getSumAdjustedCarbohydrates()}">SumAdjustedCarbohydrates</td>
                <td class="col-right" th:text="${mealDTO.getSumAdjustedFiber()}">SumAdjustedFiber</td>
                <td class="col-right" th:text="${mealDTO.getSumAdjustedFat()}">SumAdjustedFat</td>
                <td class="col-center">
                    <form th:action="@{/meal/{id}/delete(id=${mealDTO.getMealId()})}" th:method="post">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>